extends ./layouts/default.pug

block content
  script(type='text/javascript').
    function toggleSearchHelp() {
      var el = document.getElementById('searchHelp');
      if (el.style.display === 'none') {
        el.style.display = 'block';
      } else {
        el.style.display = 'none';
      }
    }
    function addToSearch(text) {
      var search = document.getElementById('search');
      if (search) {
        if (search.value==='') {
          search.value = text;
        } else {
          search.value += ' ' + text;
        }
      }
    }
    function clearSearch() {
      var search = document.getElementById('search');
      if (search) {
        search.value = '';
      }
    }
    function reRunTest(id, url, label) {
      const modal = document.getElementById("rerunModal");
      const testIdInput = document.getElementById("rerunTestId");
      const rerunTestUrl = document.getElementById("rerunTestUrl");
      const rerunTestLabel = document.getElementById("rerunTestLabel");
      testIdInput.value = id;
      rerunTestUrl.value = url;
      if (!url.startsWith('http')) {
       rerunTestUrl.disabled = true; 
      }
      rerunTestLabel.value = label;
      modal.classList.add("is-active");

      document
      .getElementById("cancelRerun")
      .addEventListener("click", closeRerunModal);
    document
      .getElementById("modalClose")
      .addEventListener("click", closeRerunModal);
    
    document
      .getElementById("confirmRerun")
      .addEventListener("click", (event) => {
        event.preventDefault();
        document.getElementById("rerunForm").submit();
    });

    document
      .getElementById("updateLabel")
      .addEventListener("click", (event) => {
        event.preventDefault();
        document.getElementById("rerunForm").action = '/update'
        document.getElementById("rerunForm").submit();
    });
    }
    
    function closeRerunModal() {
      const modal = document.getElementById("rerunModal");
      modal.classList.remove("is-active");
    }

  .modal#rerunModal
    .modal-background
    .modal-card
      header.modal-card-head
        p.modal-card-title #{getText('edit.title')}
        button.delete(aria-label='close' id='modalClose')
      section.modal-card-body
        p.is-small #{getText('edit.description')}
        form#rerunForm(method='POST' action='/')
          input(type='hidden' name='id' id='rerunTestId')
          .field
            label
              b #{getText('edit.urlscript')}
          .control
            input.input(type='text' name='url' id='rerunTestUrl' maxlength='3000' placeholder='Change scripting is disabled')
          .field
            label 
              b #{getText('edit.label')}
            .control
              input.input(type='text' name='label' id='rerunTestLabel' maxlength='100' placeholder='Enter label')
      footer.modal-card-foot
        button.button.is-success#updateLabel #{getText('edit.button.save')}
        button.button.is-success#confirmRerun #{getText('edit.button.rerun')}
        button.button#cancelRerun #{getText('edit.button.cancel')}

  section.section
    .container
      .level
        .level-item.has-text-centered
          img(src=nconf.get('html:logo:path') width=nconf.get('html:logo:width') alt=nconf.get('html:logo:alt'))

      form#search-form(method='get' action='/search/')
        input(type='hidden' name='page' value='1' id='page') 
        .field.is-grouped
            p.control.is-expanded
                input.input.is-medium(type='text' placeholder=getText('search.input.placeholder', dayjs().format('YYYY-MM-DD')) name='search' id='search' autofocus value=searchQuery)  
            p.control
                button.button.is-primary.is-medium(accesskey='s' name='searchbutton') #{getText('search.button.search')}
      p.control
        .buttons.py-2
          button.button.is-primary.is-medium(onclick='addToSearch(\'when:lasthour\')' role='button') #{getText('search.button.lasthour')}
          button.button.is-primary.is-medium(onclick='addToSearch(\'when:today\')' role='button') #{getText('search.button.today')}
          button.button.is-primary.is-medium(onclick='addToSearch(\'when:yesterday\')' role='button') #{getText('search.button.yesterday')}
          button.button.is-primary.is-medium(onclick='addToSearch(\'when:lastweek\')' role='button') #{getText('search.button.lastweek')}
          button.button.is-warning.is-medium(accesskey='h' onclick='toggleSearchHelp()') #{getText('search.button.help')}
          button.button.is-warning.is-medium(accesskey='h' onclick='clearSearch()') #{getText('search.button.clear')}

        .content.p-5.has-background-white(style='display:none' id='searchHelp')
            h2.mb-3  #{getText('search.help.heading')}
            p.mb-2 #{getText('search.help.description')}:
              code https://www.sitespeed.io/documentation/ date:#{dayjs().format('YYYY-MM-DD')} browser:chrome  
            ul 
              li 
                b 
                  - let browserOnClick = 'addToSearch(\'date:' + dayjs().format('YYYY-MM-DD') + '\')';
                  a(role='button' onclick=browserOnClick) date:#{dayjs().format('YYYY-MM-DD')}
                | - #{getText('search.help.bydate')}
              li
                b 
                  - browserOnClick = 'addToSearch(\'before:' + dayjs().format('YYYY-MM-DD') + '\')';
                  a(role='button' onclick=browserOnClick) before:#{dayjs().format('YYYY-MM-DD')} 
                | - #{getText('search.help.beforedate')}
              li 
                b 
                  - browserOnClick = 'addToSearch(\'after:' + dayjs().format('YYYY-MM-DD') + '\')';
                  a(role='button' onclick=browserOnClick) after:#{dayjs().format('YYYY-MM-DD')} 
                | - #{getText('search.help.afterdate')}
              li 
                b 
                  - browserOnClick = 'addToSearch(\'when:today\')';
                  a(role='button' onclick=browserOnClick) when:today 
                | - #{getText('search.help.byday')}
              li 
                b label:the_label 
                | - #{getText('search.help.bylabel')}
              li 
                b url:https://www.myurl.org/  
                | - #{getText('search.help.byurlwithwildcard', 'url:Barack_Obama', 'https://en.wikipedia.org/wiki/Barack_Obama')}
              li 
                b https://www.myurl.org/ 
                | - #{getText('search.help.byurl')}
              li
                b 
                  - browserOnClick = 'addToSearch(\'testType:desktop\')';
                  a(role='button' onclick=browserOnClick) testType:desktop 
                | - #{getText('search.help.bytesttype')}
              li 
                b location:
                | - #{getText('search.help.bylocation')}
              li
                b 
                  - browserOnClick = 'addToSearch(\'browser:firefox\')';
                  a(role='button' onclick=browserOnClick) browser:firefox 
                | - #{getText('search.help.bybrowser')}
              li
                b name:
                | - #{getText('search.help.byscriptname')}
              li 
                b status:
                | - #{getText('search.help.bystatus')}

      if data
        if data.count > 0
          p.has-background-white.has-text-black.p-3.has-text-centered 
            b #{getText('search.result.showing', firstResultIndex, lastResultIndex, data.count)}
          p.has-background-white.has-text-black.p-3.has-text-centered.has-addons
            button.button.is-link.is-medium.mr-2(
              onclick=`document.getElementById('page').value=${currentPage - 1};document.getElementById('search-form').submit();` aria-label='Go to page #{currentPage - 1}' disabled=(currentPage <= 1)) #{getText('search.button.previous')}
            button.button.is-link.is-medium(
              onclick=`document.getElementById('page').value=${currentPage + 1};document.getElementById('search-form').submit();` aria-label='Go to page #{currentPage + 1}' disabled=(currentPage >= totalPages)) #{getText('search.button.next')}
          form#search-form-compare(action='/compare-redirect/' method='post')
            table.table.is-striped.is-fullwidth.is-narrow
              tr 
                th #{getText('search.result.urlscriptname')}
                th
                  if nconf.get('search:showLabel') === true
                    | #{getText('search.result.label')}
                  if nconf.get('search:showSlug') === true
                    | #{getText('search.result.slug')}
                th #{getText('search.result.rundate')}
                th #{getText('search.result.location')}
                th #{getText('search.result.type')}
                th #{getText('search.result.status')}
                th #{getText('search.result.browser')}
                th(colspan='3') #{getText('search.result.actions')}
              each test in data.result
                tr 
                  td
                    span.icon-text
                      span
                        - const extras = `Go to test result.\n${test.connectivity?'Connectivity:' + test.connectivity + '\n':''}Added date:${dayjs(test.added_date).format(nconf.get('dateformat'))} ${test.run_date?'\nRun date:' + dayjs(test.run_date).format(nconf.get('dateformat')):''}`
                        if test.result_url
                          a(href=test.result_url title=extras) #{test.url ? shortURL(test.url, true) : test.scripting_name}
                        else
                          span #{test.url ? shortURL(test.url, true) : test.scripting_name}
                    td 
                      - let labelOnClick = `addToSearch('label:${test.label}')`;
                      - let slugOnClick = `addToSearch('slug:${test.slug}')`;
                      if nconf.get('search:showLabel') === true
                        a(role='button' onclick=labelOnClick title='Add label to search') #{test.label}
                      if nconf.get('search:showSlug') === true
                        a(role='button' onclick=slugOnClick title='Add slug to search') #{test.slug}
                  td.run-date #{dayjs(test.run_date?test.run_date:test.added_date).format(nconf.get('dateformat'))}
                  td 
                    - let locationOnClick = 'addToSearch(\'location:' + test.location + '\')';
                    a(role='button' onclick=locationOnClick title='Add location to search') #{test.location}
                  td.is-capitalized 
                    - let testOnClick = 'addToSearch(\'testType:' + test.test_type + '\')';
                    a(role='button' onclick=testOnClick title='Add test type to search') #{test.test_type}
                  td 
                    if test.status === 'completed'
                      span
                        a.has-text-success(href=('/result/' + test.id) title='Go to test result') #{test.status}
                    else if test.status === 'failed' 
                      span.has-text-danger #{test.status}
                    else if test.status === 'active'
                      a(href=('/result/' + test.id) title='Go to running test') #{test.status}
                    else
                      span #{test.status}
                  td
                    - let browserOnClick = 'addToSearch(\'browser:' + test.browser_name + '\')';
                    a(role='button' onclick=browserOnClick title='Add browser to search') #{test.browser_name}
                  td
                    label.checkbox
                      if test.status === 'completed' 
                        input(type='checkbox' value=test.id name='har')
                      else 
                        input(type='checkbox' value=test.id name='har' disabled)
                  td
                    - let urlOnClick = test.url ? `addToSearch('url:${test.url}')` : `addToSearch('name:${ test.scripting_name}')`;
                    a(role='button' onclick=urlOnClick)
                      span.icon.is-small
                        img(src='/img/icons/content-copy.svg' alt='Add to search field' title='Add to search field')
                  td
                    - let reRunOnClick = 'reRunTest(\'' + test.id + '\', \'' + (test.url || test.scripting_name) + '\',  \'' + test.label + '\')';
                    a(role='button' onclick=reRunOnClick)
                      span.icon.is-small
                        img(src='/img/icons/edit.svg' alt='Edit/rerun test' title='Edit/rerun test')
          p.has-background-white.has-text-black.p-3.has-text-centered.has-addons
            button.button.is-link.is-medium.mr-2(
              onclick=`document.getElementById('page').value=${currentPage - 1};document.getElementById('search-form').submit();` aria-label='Go to page #{currentPage - 1}' disabled=(currentPage <= 1)) #{getText('search.button.previous')}
            button.button.is-link.is-medium(
              onclick=`document.getElementById('page').value=${currentPage + 1};document.getElementById('search-form').submit();` aria-label='Go to page #{currentPage + 1}' disabled=(currentPage >= totalPages)) #{getText('search.button.next')}
          p.has-background-white.has-text-black.p-3.has-text-centered.has-addons 
            button.button.is-primary.is-medium(accesskey='c' form='search-form-compare') #{getText('search.button.compare')}
        else 
          .message.is-fullwidth.is-medium.has-background-white.has-text-centered
            .message-body
              | #{getText('search.result.nomatch')}
        