meta(charset='utf-8')
meta(name='viewport' content='width=device-width, initial-scale=1')
title #{title}
link(rel='stylesheet' href='/css/bulma.min.css')
link(rel='stylesheet' href='/css/bulma-checkradio.min.css')
link(rel='stylesheet' href='/css/extra.css')
if (nconf.get('html:css:override')) 
  link(rel='stylesheet' href=nconf.get('html:css:override'))
link(rel="apple-touch-icon" sizes="180x180" href=nconf.get('html:favicon-180:path'))
link(rel="icon" type="image/png" sizes="32x32" href=nconf.get('html:favicon-32:path'))
meta(name='description' content=description)
meta(name='keywords' content='sitespeed.io, wpo, webperf, perfmatters, performance')